[buildout]
extends = http://download.zope.org/Zope2/index/2.12.23/versions.cfg

[versions]

# Do not remove zc-buildout from this file as it's used by install.sh
zc.buildout=1.5.2
setuptools=0.6c11
collective.js.jqueryui=1.8.16.5
